- const { readmode, translate, darkmode, aside, chat_btn } = theme

#rightside
  //- - const { enable, hide, show } = theme.rightside_item_order
  //- - const hideArray = enable ? hide && hide.split(',') : ['readmode','translate','darkmode','hideAside']
  //- - const showArray = enable ? show && show.split(',') : ['toc','chat','comment']

  
  //- #rightside-config-hide
  //-   if hideArray
  //-     +rightsideItem(hideArray)
  //- #rightside-config-show
  //-   if enable
  //-     if hide
  //-       button#rightside_config(type="button" title=_p("rightside.setting"))
  //-         i.fas.fa-cog.fa-spin
  //-   else
  //-     if is_post()
  //-       if (readmode || translate.enable || (darkmode.enable && darkmode.button))
  //-         button#rightside_config(type="button" title=_p("rightside.setting"))
  //-           i.fas.fa-cog.fa-spin
  //-     else if translate.enable || (darkmode.enable && darkmode.button)
  //-       button#rightside_config(type="button" title=_p("rightside.setting"))
  //-         i.fas.fa-cog.fa-spin

  //-   if showArray
  //-     +rightsideItem(showArray)

  //-   button#go-up(type="button" title=_p("rightside.back_to_top"))
  //-     span.scroll-percent
  //-     i.fas.fa-arrow-up